@page
@inject ILocationRepo _locations
@using SpeedMeasuremetRazor.Interfaces
@using SpeedMeasuremetRazor.Models
@model SpeedMeasuremetRazor.Pages.Measurements.CreateMeasurementModel;
@{
}

<h3>Create a measurement</h3>

<form method="post">
    <div class="form-group">
        <select name="Location">
            <option value="">Select a location</option>
            @foreach (Location loc in _locations.GetAllLocations())
            {
                <option value="@loc">@loc.Address</option>
            }
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Add"/>
</form>
@if (Model.Error != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@Model.Error");
        };
    </script>
}